{% load static %}

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    {% for i in information %}
      <div class="profile">
        <img src="{{ i.img.url }}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="/">{{ i.full_name }}</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="{{ i.twitter }}" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="{{ i.facebook }}" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="{{ i.instagram }}" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="{{ i.github }}" class="github"><i class="bx bxl-github"></i></a>
        </div>
      </div>
    {% endfor %}
    

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="/" class="nav-link scrollto {% if request.resolver_match.url_name == 'home' %}active{% endif %}"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="/information" class="nav-link scrollto {% if request.resolver_match.url_name == 'information' %}active{% endif %}"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="/skills" class="nav-link scrollto {% if request.resolver_match.url_name == 'skills' %}active{% endif %}"><i class="bx bx-file-blank"></i> <span>skills</span></a></li>
        <li><a href="/your-comments/" class="nav-link scrollto {% if request.resolver_match.url_name == 'comments' %}active{% endif %}"><i class="bx bx-comment"></i> <span>Your Comments</span></a></li>
        <li><a href="/your-comments/forms" class="nav-link scrollto {% if request.resolver_match.url_name == 'CommentForms' %}active{% endif %}"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        <li><a href="https://up.20script.ir/do.php?filename=638f-متین-رحیمی-1402-2-15.pdf" target="_blank" class="nav-link scrollto "><i class='bx bx-archive-in'></i><span> Download resume</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->